@import "fonts.scss";
@import "variables.scss";

#app {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-font-color;
  margin-top: 60px;
}
