// colors
$main-background-color: #FFFFFF;
$second-background-color: #5775A9;

$main-font-color: #111111;
$second-font-color: #000000;

$border-color: #D9D9D9;
$details-gray-color: #D5D5D5;

$green-color: #71C396;
$orange-color: #E69349;
$violet-color: #9B5DE2;
